[user]
	name = Guillermo A. Sanchez
	email = memo.sanchez@gmail.com
[core]
	excludesfiles = ~/.gitignore
	editor = "subl -w"
  pager = cat
[color]
  ui = auto
[alias]
  df = diff --color --color-words --abbrev
  st = status -s
  c = commit
  co = checkout
  l = log --graph --decorate --oneline --date=relative
  la = log --graph --decorate --oneline --all
  lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative


